boto3==1.12.19
botocore==1.15.19
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
Cython==0.29.15
docutils==0.15.2
filelock==3.0.12
gluonnlp==0.9.1
graphviz==0.8.4
idna==2.9
jmespath==0.9.5
joblib==0.14.1
mxnet==1.6.0
numpy==1.18.1
packaging==20.3
pyparsing==2.4.6
python-dateutil==2.8.1
regex==2020.2.20
requests==2.23.0
s3transfer==0.3.3
sacremoses==0.0.38
sentencepiece==0.1.85
six==1.14.0
tokenizers==0.5.2
torch==1.4.0
tqdm==4.43.0
transformers==2.5.1
urllib3==1.25.8
